@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

.navBarImage {
    height: 40px;
    margin-left: 30px;
}

.navbar {
    margin-top:10px;
    /* testing for git */
}

.linkText{ 
    color: white ; 
    margin-top: 16px;
    font-size: 18px;
}

/* .navButton {
    width: 100px;
    height: 40px;
    border: solid 0px red;
    border-radius: 8px;
    margin-top: 19px;
    font-family: Montserrat;
    font-weight: bold;
    color: red;
    background-color: transparent;
} */

.navButton {
    width: 100px;
    height: 40px;
    border: solid 0px transparent;
    font-family: Montserrat;
    font-weight: bold;
    color: red;
    background-color: transparent;
}

.navButton:hover {
    cursor: pointer;
}

.dropDown {
    margin-top: 8px;
}

.dropDown:hover {
    cursor: pointer;
}

